.cc-swatch {
  width: 28px;
  height: 24px;
  border: 1px solid #ddd;
  display: inline-block;
}

.color-box {
  padding: 13px 14px;
  margin: -4px 0px;
  position:relative;
  border: 2px solid;
}

.color-box:hover {
  border: 2px solid;
  border-color: black !important;
  z-index: 200;
}

#selected {
  border: 2px solid;
  border-color: black !important;
  z-index: 199;
}