.sticky {
  position: absolute;
  width: 100%;
  bottom: 0;
}


.primary-bg {
  background-color: #002145;
}

.timetable-grid {
  border-collapse: collapse;
  width: 100%;
}

.timetable-grid th,
.timetable-grid td {
  border: 1px solid #eee;
  text-align: center;
  padding: 5px 0;
  min-width: 50px;
}

.time-col {
  background-color: #fafafa;
  font-weight: 500;
  padding: 0px;
}

.rounded-corner-table {
  border-radius: 12px;
  border: 1px solid #eee;
}

.filters-container select {
  height: 40px;
  border-radius: 8px;
}

.primary-bg {
  background-color: #002145;
}

.course-cell {
  position: relative;
  height: 60px;
}

.course-item {
  position: absolute;
  top: 0;
  width: 50%;
  color: rgb(44, 41, 41);
  padding: 5px;
  border: 1px solid rgb(255, 255, 255);
  font-size: 12px;
  border-radius: 5px;
  z-index: 1;
  cursor: pointer; 
}

/* Shift right for the second course (if overlap) */
.course-item.overlap {
  z-index: 2;
}

.course-tooltip {
  position: fixed;
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  z-index: 10000 !important;
  display: none;
  border-radius: 6px;
  max-width: 300px;
  font-size: 14px;
  line-height: 1.4;
}

.big-title {
  color: green;
}


/* Styling for viewing users page */

.view-container {
  min-height: 100dvh;
  margin-left: 10px;
  margin-right: 10px;
}

.view-users-title h3,
.create-user-container h4 {
    font-weight: 600;
    text-align: center;
}

.table-wrapper {
    display: flex;
    justify-content: center;
}

.viewing-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
}

.btn-toolbar {
  justify-content: space-around;
}


/* LOGIN section */

.login-container {
  height: 80dvh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-div {
  margin-left: 110px;
}


/* VIEW COURSES section */

.view-courses-container {
  min-height: 100dvh;
  margin-left: 10px;
  margin-right: 10px;
}

.error-no-courses {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid red;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 10px;
}

.error-courses-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
}

.courses-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .timetable-grid .course-cell { position: relative; }
.course-item{
  position: absolute;
  border-radius: .4rem;
  padding: .25rem .35rem;
  font-size: .8rem;
  line-height: 1.1;
  color: #111;
  box-shadow: 0 1px 2px rgba(0,0,0,.08);
  overflow: hidden;
} */